* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(44, 192, 143, 0.247);
  padding: 10px;
}

#board {
  width: 50%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto 0 auto;

}

.btn:hover {
  transform: scale(1.3);
  transition: all 0.5s;

}

.boardBlock {
  height: 30%;
  width: 30%;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardBlock:hover {
  background-color: rgba(178, 224, 8, 0.274);
  transform: scale(1.1);
  transition: all 0.5s;
}

#player-form {
  margin-top: 15px;
}

.sign {
  font-size: 52px;
}

.X {
  color: red;
}
.X:before {
  content: "X"
}

.O {
  color: black;
}
.O:before {
  content: "O"
}

.turn {
  margin-top: 30px;

}
.player-X {
  color: red;
}
.player-O {
  color: black;
}